html {
	background-color: gray;
}

#grid-container {
	background-color: darkgray;
	padding: 25px;
}

.number-btns {
	background-color: lightgray;
	margin: 5px;
}

.operator-btns {
	background-color: slategray;
	margin: 5px;
}

.misc-btns {
	background-color: lightgray;
	margin: 5px;
}

#btn-equal {
	background-color: slateblue;
}
